.auth {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth img {
  margin: 30px auto;
  object-fit: contain;

  width: 100px;
}
.auth_container {
  width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}
.auth_container h1 {
  font-weight: 500;
  margin: 20px 0;
  font-size: 25px;
}
.auth_container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth_container form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.auth_container form input {
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: white;

  border: 1px solid gray;
  width: 100%;

  border-radius: 4px;
}
.auth_container form input:focus {
  outline: 2px solid skyblue;
  border: none;
}
.signin_button {
  background-color: #f0c14b;
  border: none;
  margin-top: 10px;

  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 30px;
}
.signin_button:hover {
  background-color: var(--secondary-color);
}

.auth_container p {
  font-size: 14px;

  padding: 10px 0;
}
.signup_button {
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  height: 30px;
}
.signup_button:hover {
  background-color: lightgray;
}

/* Agreement notice */
.notice {
  font-size: 14px;
  color: #555;
  margin: 15px 0;
  line-height: 1.5;
}

.notice a {
  color: #0073bb;
  text-decoration: none;
}

.notice a:hover {
  text-decoration: underline;
}
